html, body {
    position: relative;
    margin: 0;
    height: 100%;
    background: #1DE9B6;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

canvas {
  overflow: hidden;
}

#confetti{
  background: inherit;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
}

#watch {
    position: absolute;
    top:50%; left:30%;
    height:300px; width:300px;
    margin-top:-150px; margin-left:-180px;
    border-radius: 50%;
    background: #222;
    border: 10px solid #333;
    color: white;    
}
#watch:before {
    content: '';
    position: absolute;
    top:50%; left:50%;
    width:200px; height:450px;
    margin-top:-225px; margin-left:-100px;
    background: #222;
    border-radius: 10px;
    z-index: -1;
}
#watch:after {
    content: '';
    position: absolute;
    top:50%; left:100%;
    height:28px; width:22px;
    margin-top:-14px;
    background: #222;
    border-radius: 4px;
    z-index: -1;
}

#screen {
    position: relative;
    width: 100%;
    height: 100%;
    top:0; right:0; bottom:0; left:0;
    border-radius: 50%;
    overflow: hidden;
    background: inherit;    
    background-size: cover;
    box-shadow: inset 0 0 0 18px rgba(1,127,204,.5);    
}

#screen img {
  width: 100%;
  height: 100%;  
}

#slider{
  position: relative; 
  top: 0px; left: 0px; 
  width: 100%;   
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

#slider div {  
  width: 100%; 
  height: 100%;
  overflow: hidden;    
}

#portrait {
    position: relative;        
    overflow: hidden;
    border-radius: 50%;
    top:0; right:0; bottom:0; left:0;
    opacity: .8;
}



#white-box
{
  width: 400px;
  min-height: 300px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
  position: relative;
  top:20%; bottom:20%;
  margin: 0px auto;
  padding: 30px;    
}

#attachments img {
  width: 90%;
}

.btn {
  display: block;
  float:right;
  background-color: #00ead4;
  color: #ffffff;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

footer {
    position: absolute;
    right:0; bottom:0; left:0;
    text-align: center;
    font-size: 10px;
    line-height: 40px;
    color: #666;
}
footer a {
    color: steelblue;
}

input[type=text] {
    border: 5px solid #666666; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

textarea {
  width: 391px;
  height: 146px;
  border: 5px solid #666666; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
  resize: none;
}

input[type=button] {
  -webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
  background-color:#5B74A8;
  border:1px solid #29447E;
  font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
  font-size:12px;
  font-weight:700;
  padding:2px 6px;
  height:28px;
  width: 100%;
  color:#fff;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px
}